body {
    font-family: Open Sans;
    margin: 0;
}

h2 {
    color: #6852FF;
}

h3 {
    color: #3F3D56;
}

.container_header {
    background-color: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
}

.box_one {
    flex: 1 1 auto;
}

.box_two {
    flex: 1 1 auto;
}

#logo_title {
    font-family: Anurati;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
}

#menu_ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #FF6584;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header_hr {
    margin: 0%;
}

.container_main {
    height: 45%;
    margin: 10%;
    display: flex;
    align-items: center;
}

.box_one_content {
    flex: 1 1 auto;
    max-height: 100%;
    max-width: 100%;
    padding: 5%;
}

.box_two_content {
    flex: 1 1 auto;
    max-height: 100%;
    max-width: 100%;
    padding: 5%;
}

.img_index {
    max-width: 480px;
    max-height: 480px;
}

p {
    text-align: justify;
}

.container_footer {
    margin: 5%;
    display: flex;
    align-items: flex-start;
}

#footer_ul {
    list-style-type: none;
    overflow: hidden;
    color: black;
}

#footer_ul a {
    color: black;
}

#footer_ul li a:hover {
    background-color: #707070;
}